 # ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class


# ===============================
# Conda
# ===============================
.conda/
*.conda


# ===============================
# Dataset Files (VERY IMPORTANT)
# ===============================
data/
dataset/
*.csv
*.zip
*.tar
*.gz
*.mp4
*.avi

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# System
# ===============================
Thumbs.db